<div id="account-settings">
  <h3>Account Settings</h3>

  <div class="form">
    <div class="form-input">
      <label><a href="https://www.pivotaltracker.com/profile" target="_blank">Pivotal Tracker</a> API Token</label>
      <input id="pivotal-token-input" type="input" value="" class="textfield" tabindex="1" />
    </div>
    <div class="form-input">
      <label>Your Pivotal User Name</label>
      <input id="pivotal-username" type="input" value="" class="autocomplete textfield" tabindex="2" />
    </div>
    <div class="form-action">
      <a class="action" href="#" data-click-handler="TT.UI.saveAccountSettings" tabindex="3">Save Settings</a>
      <a class="cancel" href="#" data-click-handler="TT.Dialog.close" tabindex="4">Cancel</a>
    </div>
  </div>
</div>
