<div id="header">
  <div id="logo"><h1><strong>Tracker</strong>Tracker</h1></div>
  <div id="projects"></div>
  <div id="nav">
    <div id="search">
      <input id="searchInput" type="search" />
      <div id="searchIncludeDone">
        <input id="includeDone" type="checkbox" />
        <label for="includeDone">Include Done</label>
      </div>
    </div>
    <div id="columnList"></div>
    <div id="filters"></div>
  </div>
</div>
<div id="content">
  <div id="columns"></div>
</div>
<div id="messages"></div>
