<div id="header">
  <div id="logo">
    <h1>
      <strong>Tracker</strong>Tracker
      <div id="project-update" data-click-handler="TT.UI.refreshProjects"></div>
    </h1>
    <div id="account">
      <a id="account-settings-link" href="#" data-click-handler="TT.UI.openAccountSettings">Account Settings</a>
      <a id="log-out-link" href="#" data-click-handler="TT.UI.openResetDialog">Reset</a>
      <a id="import" href="#" data-click-handler="TT.UI.openImportDialog">Import</a>
    </div>
  </div>
  <div id="projects"></div>
  <div id="nav">
    <div id="search">
      <input id="searchInput" type="search" />
      <div id="searchIncludeDone">
        <input id="includeDone" type="checkbox" />
        <label for="includeDone">Include Done</label>
      </div>
    </div>
    <div id="filters"></div>
    <div id="columnList"></div>
  </div>
</div>
<div id="content">
  <div id="columns"></div>
</div>
<div id="messages"></div>
