<div class="projection-chart-story-detail">
  <h2>{{{formatted_name}}}</h2>
  {{#labels}}
    <div class="tag">{{.}}</div>
  {{/labels}}
  <div class="story-project"><strong>Project:</strong> {{project_name}}</div>
  <div class="story-requester"><strong>Requester:</strong> {{requester}}</div>
  <div class="story-owner"><strong>Owner:</strong> {{owner}}</div>
  <div class="story-estimate"><strong>Estimate:</strong> {{estimate}} points</div>
  <div class="projected-start-date"><strong>Projected Start Date:</strong> {{projected_start_date}}</div>
  <div class="projected-completion-date"><strong>Projected Completion Date:</strong> {{projected_completion_date}}</div>
</div>
