<div id="reset-account">
  <h3>Reset TrackerTracker Session</h3>

  <div class="form">
    <div class="form-input">
      You may want to reset your TrackerTracker session if you want to log out or if something is messed up. This has no affect on your Pivotal Tracker account.
    </div>

    <div class="form-action">
      <a class="action" href="#" data-click-handler="TT.UI.reset" tabindex="1">Do it now!</a>
      <a class="cancel" href="#" data-click-handler="TT.Dialog.close" tabindex="2">Cancel</a>
    </div>
  </div>
</div>
