<div class="details">
  <div class="detail-set">
    <div class="detail"><label>ID</label> <a href="{{url}}" target="_blank">{{id}}</a></div>
    <div class="detail"><label>Requester</label> {{requested_by}}</div>
    <div class="detail last"><label>Owner</label> {{owned_by}}</div>
    <div class="detail"><label>Type</label> {{story_type}}</div>
  </div>
  <h2>Description</h2>
  <div class="description">{{{description}}}</div>
  <h2>Notes</h2>
  <div class="notes">
    {{#notes}}
      <div class="note">
        <div class="text">{{text}}</div>
        <div class="author">{{author}}</div>
        <div class="date">{{noted_at}}</div>
      </div>
    {{/notes}}
  </div>
  <div class="dates">
    <div class="created-at">Created {{created_at}}</div>
    <div class="updated-at">Updated {{updated_at}}</div>
  </div>
</div>
