<div class="details">
  <div class="detail-set">
    <div class="detail"><label>ID</label> <a href="{{url}}" target="_blank">{{id}}</a></div>
    <div class="detail">
      <label>Requester</label>
      <span class="editable" data-click-handler="TT.UI.openStoryRequesterUpdater">{{requested_by}}</span>
    </div>
    <div class="detail">
      <label>Owner</label>
      <span class="editable" data-click-handler="TT.UI.openStoryOwnerUpdater">{{owned_by}}</span>
    </div>
    <div class="detail">
      <label>Points</label>
      <span class="editable" data-click-handler="TT.UI.openStoryPointsUpdater">{{estimate}}</span>
    </div>
    <div class="detail">
      <label>Type</label>
      <span class="editable" data-click-handler="TT.UI.openStoryTypeUpdater">{{story_type}}</span>
    </div>
    <div class="detail last">
      <label>State</label>
      <span class="editable" data-click-handler="TT.UI.openStoryStateUpdater">{{current_state}}</span>
    </div>
  </div>
  <h2>Description</h2>
  <div class="description">{{{formatted_description}}}</div>
  <h2>Notes</h2>
  <div class="notes">
    <div class="note note-form">
      Add a note...
    </div>
    {{#notes}}
      <div class="note">
        <div class="author">{{author}}</div>
        {{#text}}
          <div class="text">
            {{{text}}}
          </div>
        {{/text}}
        <div class="attachments clearfix">
          {{#attachments}}
            <div class="attachment-container">
              <div data-id="{{id}}" data-url="{{url}}" class="attachment-control" data-click-handler="TT.UI.openStoryAttachmentControls"></div>
              {{#isImage}}
                <div class="image">
                  <a href="{{url}}?inline=true" target="_blank"><img src="{{url}}?inline=true" alt="{{filename}}" /></a>
                </div>
              {{/isImage}}
              {{^isImage}}
                <div class="attachment">
                  <a href="{{url}}" target="_blank">{{filename}}</a>
                </div>
              {{/isImage}}
            </div>
          {{/attachments}}
        </div>
        <div class="date">{{noted_at}}</div>
      </div>
    {{/notes}}
  </div>
  <div class="dates">
    <div class="created-at"><strong>Created</strong> {{created_at}}</div>
    <div class="updated-at"><strong>Updated</strong> {{updated_at}}</div>
  </div>
</div>
