
/* Clearfix */

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* Global */

body, html {
  background: #999;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #111;
  font: normal 12px/14px Helvetica, Arial, sans-serif;
  overflow: hidden;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #069;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #024;
}

textarea, input.textfield {
  border: 1px solid #ccc;
  border-radius: 1px;
  font: normal 18px/18px Helvetica, sans-serif;
  margin: 3px 0;
  outline: none;
  padding: 4px 6px;
}

textarea:hover, input.textfield:hover {
  border-color: #aaa;
}

textarea:focus, input.textfield:focus {
  border-color: #08c;
}

textarea {
  font: normal 13px/15px Helvetica, sans-serif;
  padding: 6px 12px;
}

/* Header */

#header {
  background: #eee;
}

#logo {
  background: #256188;
  height: 38px;
}

#logo h1 {
  color: #fff;
  font: normal 18px/18px Helvetica, sans-serif;
  left: 10px;
  letter-spacing: 6px;
  padding-right: 20px;
  position: absolute;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  top: 10px;
}

body.ajaxRunning #logo h1 {
  background: url(/images/loading.gif) no-repeat center right transparent;
}

/* Account Nav */

#account {
  position: absolute;
  right: 22px;
  top: 13px;
}

#account a {
  color: #fff;
  display: inline-block;
  font: bold 11px/11px Helvetica, sans-serif;
  margin: 0 0 0 16px;
  text-decoration: none;
  text-transform: uppercase;
}

#account a:hover {
  text-decoration: underline;
}

/* Dialog */

.modal-dialog-overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.modal-dialog {
  position: absolute;
  left: 50%;
  top: 160px;
  z-index: 1001;
}

.modal-dialog .container {
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background: #fff;
  margin: 0 0 0 -230px;
  width: 460px;
}

.modal-dialog .content {
  padding: 28px 30px;
}

#account-settings h3 {
  font: bold 20px/20px Helvetica, sans-serif;
  margin: 0 0 16px;
}

#account-settings .form-input {
  margin: 12px 0;
}

#account-settings label {
  margin: 3px 0;
}

#account-settings input.textfield {
  width: 380px;
}

#account-settings .cancel {
  color: #999;
  display: inline-block;
  font-weight: normal;
  margin-left: 10px;
}

#account-settings .cancel:hover {
  color: #333;
  text-decoration: underline;
}

/* Nav */

#nav {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* Messages */

#messages {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#messages .message {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  font: normal 12px/14px Helvetica, sans-serif;
  margin: 5px 0 0;
  padding: 12px 30px 12px 15px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  width: 190px;
}

#messages .message span.close {
  background: url(/images/close.png) no-repeat scroll center right transparent;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 8px;
  top: 8px;
}

#messages .message:hover {
  background: rgba(0, 0, 0, 0.85);
}

#messages .message:hover span.close {
  background: url(/images/close_hover.png) no-repeat scroll center right transparent;
}

/* Project List */

#projects {
  left: 300px;
  position: absolute;
  top: 11px;
}

.projects {
  height: 30px;
  overflow-y: hidden;
  padding-right: 40px;
}

.project {
  background: #eee;
  border: none;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0 1px 0 0;
  padding: 7px 14px;
  border-radius: 3px 3px 0 0;
}

.project.inactive {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}

.project.inactive:hover {
  color: #fff;
}

#project-update {
  background: url(/images/refresh.png) no-repeat scroll top left transparent;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  left: 6px;
  opacity: 0.7;
  position: relative;
  top: 0;
  width: 16px;
}

#project-update:hover {
  opacity: 1;
}

/* Search */

#search {
  float: right;
  padding: 11px 12px 0 12px;
}

#searchInput {
  font: normal 18px/18px Helvetica, sans-serif;
  width: 200px;
}

#searchIncludeDone {
  display: inline-block;
}

#searchIncludeDone label {
  color: #666;
  font: bold 11px/11px Helvetica, sans-serif;
}

/* Filters */

#filters {
  background: #eee;
  min-height: 29px;
  padding: 10px 12px 6px;
}

.filter {
  background: #50327c;
  background: -webkit-linear-gradient(#674797, #50327c);
  background: -moz-linear-gradient(#674797, #50327c);
  background: linear-gradient(#674797, #50327c);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 12px/12px Helvetica, sans-serif;
  margin: 0 2px 3px 0;
  padding: 6px 24px 6px 8px;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.filter.sticky {
  padding-right: 8px;
}

.filter.sticky span.close {
  display: none;
}

.filter-search span.name,
.filter-search.inactive:hover span.name {
  background: url(/images/filter-search-active.png) no-repeat scroll -1px -1px;
  display: inline-block;
  padding-left: 16px;
}

.filter-search.inactive span.name {
  background: url(/images/filter-search-inactive.png) no-repeat scroll -1px -1px;
}

.filter:hover {
  background: #8a6bb8;
  background: -webkit-linear-gradient(#8a6bb8, #674797);
  background: -moz-linear-gradient(#8a6bb8, #674797);
  background: linear-gradient(#8a6bb8, #674797);
}

.filter span.close {
  background: url(/images/close_hover.png) no-repeat scroll center right transparent;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 3px;
  top: 4px;
}

.filter.inactive {
  background: #ccc;
  box-shadow: none;
  color: #555;
  padding-right: 8px;
  text-shadow: none;
}

.filter.inactive:hover {
  background: #999;
  color: #fff;
}

.filter.inactive span.close {
  display: none;
}

/* columnList */

#columnList {
  padding: 0 12px 9px;
}

#columnList .column-list-nav {
}

#columnList .column-selector {
  border-radius: 1px;
  color: #999;
  cursor: pointer;
  display: inline-block;
  font: bold 11px/31px Helvetica, sans-serif;
  height: 30px;
  margin: 0 1px 0 0;
  padding: 0 12px;
  text-transform: uppercase;
}

#columnList .column-selector:hover {
  color: #666;
}

#columnList .column-selector.active {
  background: #fff;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #256188;
}

#columnList .column-selector.active:hover {
  color: #153B5c;
}

#columnList .column-story-count {
  color: #999;
  display: inline-block;
  font-weight: normal;
  padding-left: 5px;
}

/* Columns */

#content {
  overflow-x: auto;
  overflow-y: hidden;
}

#columns {
  padding: 6px;
}

.column {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  float: left;
  margin: 4px 4px 10px;
  min-width: 200px;
}

.column .column-title {
  background: #333;
  background: -webkit-linear-gradient(#444, #222);
  background: -moz-linear-gradient(#444, #222);
  background: linear-gradient(#444, #222);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px 0 0;
  color: #fff;
  cursor: move;
  font: bold 11px/13px Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 9px;
  position: relative;
}

.column .column-title span {
  background: url(/images/close_hover.png) no-repeat scroll center right transparent;
  cursor: pointer;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 3px;
  top: 4px;
}

.column .column-bucket {
  background: #ccc;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Stories */

.story {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 18px 4px;
  border: 1px solid #fff;
  border-width: 1px 0;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.10);
  cursor: move;
  padding: 6px 6px 6px 38px;
  position: relative;
}

.story:hover {
  background-color: #fff;
}

.story.feature {
  background-image: url(/images/story.feature.png);
}

.story.bug {
  background-image: url(/images/story.bug.png);
}

.story.chore {
  background-image: url(/images/story.chore.png);
}

.story.release {
  background-image: url(/images/story.release.png);
  background-color: #407aa5 !important;
  border-top: 0;
  color: #fff;
}

.story.release.expanded-story {
  color: #111;
}

.story.release:hover {
  background-color: #306494 !important;
}

.story.release.expanded-story:hover {
  background-color: #e9e7dd !important;
}

.story .toggle-arrow {
  background: url(/images/arrow.closed.png) 0 0 no-repeat transparent;
  cursor: pointer;
  height: 18px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 18px;
}

.expanded-story .toggle-arrow {
  background: url(/images/arrow.open.png) -1px 0 no-repeat transparent;
}

.story .title {
  word-wrap: break-word;
}

.story .project-name {
  color: #b65000;
  font-weight: bold;
  display: inline-block;
  padding-right: 2px;
}

.story.release .project-name {
  color: #fff;
}

.story .points {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #666;
  cursor: pointer;
  font: normal 10px/13px Helvetica, sans-serif;
  float: right;
  height: 13px;
  margin-left: 8px;
  padding: 0;
  text-align: center;
  width: 12px;
}

.story.release .points {
  display: none;
}

.story .details {
  margin: 0 -2px 0 -32px;
}

.story .detail-set {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin: 6px 0 0;
}

.story .detail {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  padding: 5px 6px 3px;
}

.story .detail label {
  color: #666;
  font: 11px/16px Helvetica, sans-serif;
  display: inline-block;
  text-align: right;
  margin-right: 4px;
  width: 72px;
}

.story .detail span.editable {
  background: url(/images/arrow.open.png) no-repeat scroll center right transparent;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  min-height: 4px;
  padding: 1px 15px 1px 0;
}

.story .detail.last {
  border-bottom: 0;
}

.story .tag {
  background: #e9dda1;
  border-radius: 2px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #201604;
  cursor: pointer;
  display: inline-block;
  font: 11px/11px Helvetica, Arial, sans-serif;
  margin: 0 1px;
  padding: 2px 4px;
}

.story .tag:hover {
  background: #f1d33d;
}

.story h2 {
  color: #111;
  font: bold 12px/12px Helvetica, sans-serif;
  margin: 12px 0 0;
}

.story .attachments {
}

.story .attachment-container {
  position: relative;
  max-width: 400px;
}

.story .attachment-control {
  background: url(/images/arrow.down.faded.png) 3px 4px no-repeat #fff;
  cursor: pointer;
  display: block;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.story .attachment-control:hover {
  background: url(/images/arrow.open.png) 2px 4px no-repeat #fff;
}

.story .attachment a {
  background: url(/images/file.png) no-repeat scroll 6px 6px #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 8px 0 0;
  padding: 7px 10px 7px 25px;
  word-wrap: break-word;
}

.story .image {
  border: 5px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin: 8px 0 0;
  max-height: 120px;
  max-width: 100%;
  overflow: hidden;
}

.story .image img {
  display: block;
  width: 100%;
}

.story .note,
.story textarea,
.story .textfield {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font: normal 12px/15px Helvetica, sans-serif;
  margin: 6px 0;
  padding: 11px 12px 6px;
  word-wrap: break-word;
}

.story textarea,
.story .textfield {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15) inset;
  cursor: text;
  border: 1px solid #999;
  margin-right: 2px;
  padding: 9px 11px;
}

.story .textarea {
  display: block;
  margin-right: 26px;
}

.story textarea {
  width: 100%;
}

.story .text {
  margin: 6px 0 0;
}

.story .note .author {
  font-weight: bold;
}

.story .note .date {
  color: #888;
  font-size: 11px;
  margin: 6px 0 0;
  text-align: right;
}

.story .note .date .delete {
  color: #888;
}

.story .note .date .delete:hover {
  color: #900;
  font-weight: bold;
}

.story .dates {
  color: #777;
  font: normal 11px/15px Helvetica, sans-serif;
  margin: 8px 0 0;
  padding: 0 2px;
}

.story.blocked {
  background-color: #f5cbd3;
}

.column-started .story,
.column-inqa .story,
.column-passedqa .story,
.column-delivered .story,
.story.started,
.story.inqa,
.story.passedqa,
.story.finished,
.story.delivered {
  background-color: #f3f3d1;
}

.column-started .story:hover,
.column-inqa .story:hover,
.column-passedqa .story:hover,
.column-delivered .story:hover,
.story.started:hover,
.story.inqa:hover,
.story.passedqa:hover,
.story.finished:hover,
.story.delivered:hover {
  background-color: #fafaec;
}

.column-accepted .story,
.story.accepted {
  background-color: #daebcf;
}

.column-accepted .story:hover,
.story.accepted:hover {
  background-color: #edf7e7;
}

.column-icebox .story {
  background-color: #e4eff7;
}

.column-icebox .story:hover {
  background-color: #f7fafc;
}

.story.expanded-story {
  background-color: #e9e7dd !important;
  cursor: default;
}

.ui-sortable-helper {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  z-index: 9999;
}

.story.ui-sortable-helper {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
}

.ui-sortable-placeholder {
  background: none !important;
  border: 2px dashed #fff;
  margin-bottom: 1px;
  visibility: visible !important;
}

.column.ui-sortable-placeholder {
  box-shadow: none;
}

/* Autocomplete */

input.textfield.autocomplete {
  background: url(/images/filter-search-inactive.png) no-repeat scroll 99% center;
}

#autocomplete {
  background: #fff;
  border: 1px solid #666;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9999;
}

#autocomplete .list {
  overflow-y: auto;
  overflow-x: hidden;
}

#autocomplete-input {
  display: none;
  font: bold 14px/18px Helvetica, sans-serif;
  margin: 3px;
}

#autocomplete .item {
  background: #fff;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  color: #111;
  cursor: pointer;
  display: block;
  font: normal 12px/14px Helvetica, sans-serif;
  padding: 6px 8px 5px;
}

#autocomplete .item:hover {
  background: #eee;
}

#autocomplete .item.active {
  background: #069;
  color: #fff;
}

/* textarea */

.textarea .actions {
  margin: 0 -16px 0 0;
  text-align: right;
}

.textarea .actions a {
  display: inline-block;
  margin-left: 10px;
}

.textarea .actions .save {
  background: #cc7c16;
  background: -webkit-linear-gradient(#cc7c16, #8d5711);
  background: -moz-linear-gradient(#cc7c16, #8d5711);
  background: linear-gradient(#cc7c16, #8d5711);
  border: 1px solid #8d5711;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font: bold 11px/23px Helvetica, sans-serif;
  padding: 1px 12px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.textarea .actions .save:hover {
  background: #df8a1e;
  background: -webkit-linear-gradient(#df8a1e, #9e5d09);
  background: -moz-linear-gradient(#df8a1e, #9e5d09);
  background: linear-gradient(#df8a1e, #9e5d09);
  border-color: #9e5d09;
}

.textarea .actions .cancel {
  color: rgba(0, 0, 0, 0.5);
  font: normal 11px/11px Helvetica, sans-serif;
}

.textarea .actions .cancel:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}
