extends layout

block content

  #header
    #logo
      h1 <strong>Tracker</strong>Tracker

    #projects

    #nav
      #search
        input(type='search')
      #columnList
      #filters

  #content
    #columns

  #messages
