extends layout

block content

  #header
    #logo
      h1 <strong>Tracker</strong>Tracker

      #account
        a.sign-out(href='/settings') Settings
        a.sign-out(href='/signOut') Sign Out

    #projects

    #nav
      #search
        input(type='search')
      #filters
        #columnList

  #content
    #columns

  #footer
