doctype 5
html
  head
    meta(charset='utf-8')
    title TrackerTracker

    link(href='/css/bundle/tt.css', rel='stylesheet', type='text/css')
    script(src='/js/bundle/lib.js')
    script(src='/js/bundle/hoganTemplates.js')
    script(src='/js/bundle/tt.js')

  body
