doctype 5
html
  head
    meta(charset='utf-8')
    title TrackerTracker

    link(href='/css/yui-reset.css', rel='stylesheet', text='text/css')
    link(href='/css/app.css', rel='stylesheet', text='text/css')

    script(src='/js/lib/jquery-1.8.3.min.js')
    script(src='/js/lib/jquery-ui-1.9.2.custom.min.js')
    script(src='/js/lib/jquery.cookie.js')

    script(src='/js/lib/hogan.js')
    script(src='/js/hogan.templates.js')

    script(src='/js/tt.js')
    script(src='/js/tt.ajax.js')
    script(src='/js/tt.api.js')
    script(src='/js/tt.dialog.js')
    script(src='/js/tt.draganddrop.js')
    script(src='/js/tt.search.js')
    script(src='/js/tt.ui.js')
    script(src='/js/tt.utils.js')
    script(src='/js/tt.view.js')
    script(src='/js/tt.init.js')

  body
    block content
